p{
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	text-shadow: 3px 0px 3px black;
}
#tree{
	padding: 30px;
	background-image: url(../images/back1.jpg);
}
#oldtree{
	padding: 20px;
	background-image: url(../images/back2.jpg);
}
#smth{
	color: yellow;
	padding: 30px;
	background-image: url(../images/back3.jpeg);
}
#comment{
	color: black;
	text-shadow: none;
}