a {
	display: inline-block;
	padding: 7px 14px;
	border-radius: 4px;
	color: black;
	text-decoration: none;
}
a.button1 {
	border: 1px solid  #FFFF00;
	background-color: #FFFF00;
	transition-property: color, background-color, border-color;
	transition-duration: 1s, 1s, 2s;
	transition-delay: 0, 0, 0;
}
a.button1:hover {
	color: #800000;
	background-color: #FFD700;
	border-color: #8B0000;
}

a.button2{
	background-color: #00CC5E;
}

a.button2:hover {
	background-color: #00FF00;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);

}
a.button3{
	background-color: #7430D0;
	
}
a.button3:hover {
	background-color: #7430D0;
	transform: scale(1.3)

}